/* mainPage.module.css */
@import url(../../colorSelector.css);

.horizontalline {
  height: 1.5px; /* 가로 줄의 세로 크기를 1픽셀로 설정 */
  background-color: black; /* 가로 줄의 색상을 검은색으로 설정 */
}

.title {
  font-size: larger;
  align-items: center;    
}

.titlebox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createroombuttoncontainer {
  display: flex;
  align-items: center;    
}

.createroombutton {
  font-size: 24px;
  /* Set the button width to match the card width */
  width: 18rem;
}

.createroombuttonicon {
  font-size: 28px;
  color: var(--blue-900);
}