@import url(../../colorSelector.css);

.horizontalLine {
  height: 1.5px;
  background-color: black;
}

.title {
  font-size: larger;
  align-items: center;    
}

.titleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createRoomButtonContainer {
  display: flex;
  align-items: center;  
}

.createRoomButton {
  font-size: 24px;
  width: 18rem;
  margin-left: auto; /* Add this */
}

.createRoomButtonIcon {
  font-size: 28px;
  color: var(--blue-900);
}

.contentTitle {
  font-weight: bolder;
  margin-top: 3px;
}

.debateRoomContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: start ; /* Add this */
  gap: 20px;
}

.debateRoomCard {
  width: calc((100% - 60px) / 4); /* Add this */
}
