.flexBox {
  display: flex;
  width: 1000px;
  margin: auto;
}
.itemBox {
  width: 200px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 16px;
}
.emptyBox {
  width: 1000px;
  margin: auto;
}
.titleBox {
  width: 1000px;
  font-size: 16px;
  display: flex;
  margin: auto;
  height: 60px;
}
img {
  width: 100%;
  height: auto;
}
div {
  font-family: inherit;
}
.title {
  font-size: 16px;
  width: 800px;
}
