@import url(../../colorSelector.css);

.wrapper {
  /* line-height: 24px; */
  width: 500px;
  margin: auto;
  padding-top: 30px;
  /* border: 1px solid #dadada; */
  /* background: skyblue; */
  height: 100vh;
  position: relative;
}

.loginform {
  /* background-color: yellow; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  margin: 0 auto;
}

.innercontent {
  width: 350px;
  /* height: 300px; */
  font-family: inherit;
  /* padding-left: 100px; */
  text-align: center;
  /* font-size: 18px; */
  /* margin-left: 50px; */
  /* line-height: 25px; */
  margin: auto;
}

.logoImage {
  height: 81px;
  width: 200px;
}

.MFC {
  color: var(--blue-400);
  margin-top: 10px;
  font-family: inherit;
  font-size: 14px;
  letter-spacing: 1px;
  padding-bottom: 25px;
}

.input {
  /* width: 70%; */
  border-color: var(--blue-200);
}
.errorMessageWrap {
  font-size: 13px;
  color: red;
  text-align: left;
  margin-left: 5px;
}
.errorMessageWrap div {
  text-align: inherit;
  font-size: inherit;
}
.inputtitle {
  font-size: 16px;
  font-weight: 600;
  color: var(--blue-800);
}

.loginbtn {
  background-color: var(--blue-800) !important;
  color: white;
  width: 100%;
  border: 0;
  border-radius: 10px;
  font-size: 16px !important;
}

.loginbtn:hover {
  background-color: var(--blue-600) !important;
}

.bottomBtn {
  /* font-size: x-small; */
  text-align: center;
  /* margin-right: 120px; */
}
.findPW {
  border: 0;
  background: 0;
  color: var(--blue-800);
  font-weight: 800;
  margin-right: 20%;
  font-size: 12px;
}
.signup {
  border: 0;
  background: 0;
  color: var(--blue-500);
  /* font-weight: 800; */
  font-size: 16px;
}

.signup:hover {
  color: var(--blue-700);
  font-weight: 500;
}

.horizontal-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.horizontal-list li {
  display: inline-block; /* Change 'inline-block' to 'inline' if needed */
  margin-right: 10px; /* Add some space between the list items */
}

/* Optional: Remove underlines from links */
.horizontal-list li a {
  text-decoration: none;
}

.FindPWPageErrorMessageWrap {
  font-size: 5px;
  color: red;
}
