@import url(../../colorSelector.css);

.navbar{
    height: 80px;
    display: flex;
    align-items: center;
    font-family: pretender, sans-serif;
    border-bottom: 3px solid var(--blue-600);
}   

.navbarMenu{
    margin: var(--spacing-4);
}

.logo{
    width: 40%;
    margin: 10px;
}