@import url(../../colorSelector.css);

.wrapper {
  margin: auto;
  width: 600px;
  margin-top: 50px;
}

.passwordTitle {
  color: var(--blue-700);
  width: 200px;
  margin-left: 10px;
  font-family: inherit;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  /* letter-spacing: 0; */
}

.contentWrap {
  width: 60%;
  margin: auto;
}

.passwordWrap {
  margin-bottom: 1rem;
}

.profileText {
  /* width: 100%; */
  font-family: inherit;
  text-align: left;
  font-size: 16px !important;
}

.input {
  width: 100%;
  border-color: var(--blue-200);
}

input[type="password"] {
  font-size: 16px;
}

.inputtitle {
  font-size: 16px;
  font-weight: 700;
  color: var(--blue-800);
}

.btnChange {
  color: var(--white);
  background-color: var(--blue-800);
  font-size: 16px;
}

.btnChange:hover {
  background-color: var(--blue-600);
  color: var(--white);
}

.errorMessageWrap {
  font-size: 5px;
  color: red;
}

.FindPWPageErrorMessageWrap {
  font-size: 5px;
  color: red;
}
