.container { 
    line-height: 14px;
    width: 500px;
    margin: 100px auto;
    padding-top: 30px;
    border: 1px solid #dadada;
    background: var(--white);
}
.title {
font-family: Pretendard;
font-size:32px;
letter-spacing:0;
padding-left: 5px;
}
.profileText {
width: 100%;
font-family: Pretendard;
text-align:left;
font-size:18px;
letter-spacing:2px;
padding: 25px 0;
}
li {
margin-top:20px;
list-style-type:none;
}

form {
height: 300px;
}