@import url(../../colorSelector.css);

.wrapper {
  line-height: 24px;
  width: 500px;
  margin: 100px auto;
  padding-top: 30px;
  border: 1px solid #dadada;
  background: #fff;
}
.innerContent {
  width: 500px;
  font-family: Pretendard;
  padding-left: 100px;
  text-align: left;
  font-size: 18px;
  margin-left: 50px;
  line-height: 25px;
}
.logoImage {
  height: 81px;
  width: 200px;
}
.MFC {
  color: var(--blue-300);
  width: 351px;
  margin-top: 10px;
  font-family: Pretendard;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0;
}
.input {
  width: 70%;
  border-color: var(--blue-200);
}
.errorMessageWrap {
  font-size: 5px;
  color: red;
}
.inputtitle {
  font-size: x-small;
  font-weight: 700;
  color: var(--blue-800);
}
.loginbtn {
  width: 50%;
  height: 30px;
  margin-top: 5px;
  background-color: var(--blue-800);
  margin-left: 25%;
  color: white;
  border-radius: 10px;
}
.bottomBtn {
  font-size: x-small;
  text-align: center;
}
.findPW {
  border: 0;
  background: 0;
  color: var(--blue-800);
  font-weight: 800;
  margin-right: 20%;
}
.signup {
  border: 0;
  background: 0;
  color: var(--blue-800);
  font-weight: 800;
}

.horizontal-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.horizontal-list li {
  display: inline-block; /* Change 'inline-block' to 'inline' if needed */
  margin-right: 10px; /* Add some space between the list items */
}

/* Optional: Remove underlines from links */
.horizontal-list li a {
  text-decoration: none;
}

.FindPWPageErrorMessageWrap {
  font-size: 5px;
  color: red;
}

.profileText {
width: 100%;
font-family: Pretendard;
text-align:left;
font-size:18px;
letter-spacing:2px;
padding: 25px 0;
}
