.wrapper {
  margin: auto;
  width: 600px;
  margin-top: 50px;
}
.profileTitle {
  font-family: inherit;
  font-size: 18px !important;
}

.username {
  color: var(--blue-800);
  font-size: 25px !important;
}

input[type="text"] {
  font-size: 16px;
}

.inputemail {
  font-size: 20px !important;
}

.labelmypage {
  font-size: 16px;
  font-weight: 600;
}

.MypageBtn {
  color: white;
  background-color: var(--blue-800) !important;
  font-size: 16px;
}

.MypageBtn:hover {
  color: white;
  background-color: var(--blue-600) !important;
  font-size: 16px;
}

.wrapperProfile {
  padding-top: 5px;
}

.profileImage {
  height: 7rem;
  width: 7rem;
  object-fit: cover;
  display: flex;
  position: relative;
  margin: auto;
}

.radiusImg {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  border: solid var(--blue-800) 2px;
  /* border: dashed var(--blue-800) 2px; */
  /* border: dotted var(--blue-800) 3px; */
}

.imgSetting {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  border-radius: 50%;
  background: var(--blue-800);
  text-align: center;
  margin: auto;
  color: white;
  cursor: pointer;
}

.imgSetting:hover {
  background: var(--blue-600);
}

.profileTitle {
  color: var(--blue-700);
  width: 500px;
  margin-left: 10px;
  font-family: inherit;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}

.pwText {
  float: right;
  font-size: 16px;
  text-align: left;
  text-decoration: none;
  color: var(--blue-600);
}

.pwText:hover {
  color: var(--blue-800);
}

.btnChange {
  color: var(--white);
  background-color: var(--blue-800);
  font-size: 16px;
}

.btnChange:hover {
  background-color: var(--blue-600);
  color: var(--white);
}

.btnDelete {
  color: var(--white);
  background-color: var(--red-600);
  font-size: 16px;
}

.btnDelete:hover {
  color: var(--white);
  background-color: var(--red-500);
}
