/* debatePage.css */
@import "../../colorSelector.css";

/* Debage Page */
.debatePage {
  padding: 0 var(--spacing-3);
  box-sizing: border-box;
  margin: 0px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 45px;
  font-size: 16px;
  /* font-family: inherit; */
  /* background-color: red; */
  /* background-color: skyblue; */
}

ul {
  list-style: none;
}

ul button {
  border: none;
  background-color: transparent;
}

/* 헤더 CSS */
.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--blue-600);
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  width: 100px;
  margin-bottom: 10px;
}

.header ul {
  display: flex;
  list-style: none;
  margin: 0px;
  margin-bottom: 10px;
}

.header ul li {
  margin-left: 15px;
}

.setting:hover {
  color: var(--blue-500);
}

.exit:hover {
  color: var(--blue-500);
}

/* Room CSS */
.roomInfo {
  height: 40px;
  line-height: 40px;
}

.infoText {
  color: var(--white);
  font-size: 24px;
  font-weight: 600;
  text-align: center;

  border-radius: 10px;
}
.vs {
  color: var(--blue-800);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.opinion1 {
  background-color: var(--blue-800);
}

.opinion2 {
  background-color: var(--blue-800);
}

.userInfo {
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  /* font-weight: bold; */
}

.debateTimer {
  font-size: 24px;
  color: var(--blue-800);
  font-weight: bolder;
  text-align: center;
  border-bottom: dashed 1px var(--blue-800);
}

.speechTimer {
  font-size: 20px;
  color: var(--blue-800);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  vertical-align: middle;
}

.micIcon {
  color: var(--blue-500);
}

.userStatus {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
}

.user1HP {
  direction: rtl;
}

.hpBar {
  height: 25px;
  line-height: 30px;
  vertical-align: middle;
  font-size: 20px;
  margin-top: 7px;
}

.progress-bar {
  background-color: #4aa69f;
}
.readyBtn {
  background-color: var(--blue-800);
}

.readyButton {
  background-color: var(--red-600);
  border: 0;
  color: white;
}

.readyButton:hover {
  background-color: var(--red-400);
  border: 0;
  color: white;
}

.completeButton {
  background-color: var(--blue-600);
  border: 0;
  color: white;
}

.completeButton:hover {
  background-color: var(--blue-400);
  border: 0;
  color: white;
}

.bottomBox {
  line-height: 40px;
  height: 40px;

  margin-bottom: 5px;
}

/*  */

.screenShare {
  background-color: var(--blue-200);
  width: auto;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shareVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Participant {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 400px;
  background-color: var(--blue-200);
  border: 1px solid black;
}

.ChatArea {
  background-color: var(--blue-200);
  width: auto;
  height: 270px;
  overflow-y: hidden;
}

.chatMessages {
  max-height: 270px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.chatMessages::-webkit-scrollbar {
  width: 6px;
}

.chatMessages::-webkit-scrollbar-track {
  background-color: var(--blue-200);
}

.chatMessages::-webkit-scrollbar-thumb {
  background-color: var(--blue-500);
  border-radius: var(--radius-md);
}

.messageContainer {
  display: flex;
  align-items: center;
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-2);
  width: 90%;
  border-radius: var(--radius-md);
}

.sender {
  /* font-size: var(--text-size-sm); */
  margin-left: var(--spacing-2);
}

.messageBubble {
  padding: var(--spacing-2);
  border-radius: var(--radius-md);
  max-width: 70%;
}

.userMessage {
  background-color: var(--blue-50);
  justify-content: flex-end;
  margin-left: auto;
}

.otherMessage {
  background-color: var(--blue-400);
  justify-content: flex-start;
  margin-right: auto;
}

.Btns {
  border: 1px solid black;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.items button {
  margin: var(--spacing-1) var(--spacing-2);
}

.onOff {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.onOff button {
  margin: var(--spacing-1) var(--spacing-2);
}

.spectatorList {
  display: flex;
  align-items: center;
}

.spectatorList > button {
  margin-right: auto;
  margin-left: auto;
}

.spectatorList div {
  margin: 0 var(--spacing-3);
}

.spectator {
  background-color: var(--blue-200);
  border: 1px solid var(--black);
  width: 200px;
  height: 150px;
  margin: var(--spacing-2);
}

.button {
  background-color: var(--blue-700);
  width: fit-content;
  height: 50px;
  padding: var(--spacing-2);

  border-radius: var(--radius-md);
  color: var(--white);
  /* font-size: var(--text-size-md); */
}

.inputChat {
  width: 385px;
  height: 50px;
  border-radius: var(--radius-md);
}
.uploadedImage {
  width: 100%;
  height: auto;
}
