/* debatePage.css */
@import "../../colorSelector.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--text-size-xl);
  font-family: inherit;
}

ul {
  list-style: none;
}

.debatePage {
  padding: 0 var(--spacing-3);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 20px; */
  border-bottom: 3px solid var(--blue-600);
  margin-bottom: var(--spacing-3);
  height: 70px;
}

.logo {
  width: 6%;
}

.header ul {
  display: flex;
  list-style: none;
}

.header ul li {
  margin-right: 15px;
}

.header ul li:last-child {
  margin-right: 0;
}

.setting {
  width: 50px;
  height: 50px;
}

.exit {
  width: 50px;
  height: 50px;
}

.debatePart {
  margin-left: var(--spacing-3);
  margin-right: var(--spacing-3);
}

.opinion {
  color: var(--white);
  font-size: var(--text-size-2xl);
  text-align: center;
}

.opinion1 {
  background-color: var(--red-500);
}

.opinion2 {
  background-color: var(--blue-700);
}

.userInfo {
  text-align: center;
  align-items: center;
  font-size: var(--text-size-2xl);
  font-weight: normal;
}

.timer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: var(--text-size-2xl);
  font-weight: bolder;
  vertical-align: middle;
}

.user1HP {
  direction: rtl;
}

.screenShare {
  background-color: var(--blue-200);
  width: auto;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shareVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Participant {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 400px;
  background-color: var(--blue-200);
  border: 1px solid black;
}

.ChatArea {
  background-color: var(--blue-200);
  width: auto;
  height: 270px;
  overflow-y: hidden;
}

.chatMessages {
  max-height: 270px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.chatMessages::-webkit-scrollbar {
  width: 6px;
}

.chatMessages::-webkit-scrollbar-track {
  background-color: var(--blue-200);
}

.chatMessages::-webkit-scrollbar-thumb {
  background-color: var(--blue-500);
  border-radius: var(--radius-md);
}

.messageContainer {
  display: flex;
  align-items: center;
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-2);
  width: 90%;
  border-radius: var(--radius-md);
}

.sender {
  font-size: var(--text-size-sm);
  margin-left: var(--spacing-2);
}

.messageBubble {
  padding: var(--spacing-2);
  border-radius: var(--radius-md);
  max-width: 70%;
}

.userMessage {
  background-color: var(--blue-50);
  justify-content: flex-end;
  margin-left: auto;
}

.otherMessage {
  background-color: var(--blue-400);
  justify-content: flex-start;
  margin-right: auto;
}

.Btns {
  border: 1px solid black;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.items button {
  margin: var(--spacing-1) var(--spacing-2);
}

.onOff {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.onOff button {
  margin: var(--spacing-1) var(--spacing-2);
}

.spectatorList {
  display: flex;
  align-items: center;
}

.spectatorList > button {
  margin-right: auto;
  margin-left: auto;
}

.spectatorList div {
  margin: 0 var(--spacing-3);
}

.spectator {
  background-color: var(--blue-200);
  border: 1px solid var(--black);
  width: 200px;
  height: 150px;
  margin: var(--spacing-2);
}

.button {
  background-color: var(--blue-700);
  width: fit-content;
  height: 50px;
  padding: var(--spacing-2);

  border-radius: var(--radius-md);
  color: var(--white);
  font-size: var(--text-size-md);
}

.inputChat {
  width: 385px;
  height: 50px;
  border-radius: var(--radius-md);
}
.uploadedImage {
  width: 100%;
  height: auto;
}
